body{
    background-color: black;
}
.container{
    max-width: 100%;
    margin-top: 300px;
    text-align: center;
}
.dot{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}
.dot1{
    background-color: rgb(47, 255, 0);
    animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2{
    background-color: rgb(223, 214, 39);
    animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3{
    background-color: rgb(255, 0, 170);
    animation: jump-up 0.6s 0.3s linear infinite;
}
@keyframes jump-up {
    50%{
        transform: translate(0,15px);
    }
}
.container1{
    max-width: 100%;
    margin: 100px;
    text-align: center;
    
}
h1{
    color: rgb(255, 255, 255);
    display: block;
}
h1:hover{
    color: rgb(85, 255, 0);
    display: block;
}
